@font-face {
  font-family: "Cubano";
  src: url("/fonts/cubano-webfont.eot");
  src: url("/fonts/cubano-webfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/cubano-webfont.woff2") format("woff2"),
    url("/fonts/cubano-webfont.woff") format("woff"),
    url("/fonts/cubano-webfont.ttf") format("truetype"),
    url("/fonts/cubano-webfont.svg#cubanoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #333;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 32px/40px "Cubano", sans-serif;
  color: #777;
}
a {
  color: #777;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
a:focus,
a:hover {
  color: #999;
}
.header {
  margin-top: 60px;
}
h1 {
  margin-bottom: 20px;
  font: 48px/48px "Cubano", sans-serif;
}
h1 a {
  display: block;
  overflow: hidden;
  text-decoration: none;
}
h1 .first-name {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 10px;
  color: #5bb3fb;
}
h1 .last-name {
  display: block;
  float: left;
  width: 80%;
  color: #f508ff;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.description {
  width: 100%;
  font: 24px/32px "Roboto", sans-serif;
  margin-left: 50px;
}
.hidden {
  display: none;
}
a {
  text-decoration: none;
}
.quote {
  color: #333;
}
.tweets {
  font-size: 14px;
  margin-top: -25px;
  margin-bottom: 15px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 65%;
}
.tweets a {
  color: #bebec0;
}
section {
  overflow: hidden;
  margin-bottom: 20px;
}
section h2 {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 12px;
  color: #bebec0;
}
section p,
section ul {
  float: left;
  width: 80%;
}
section ul.short {
  width: 40%;
}
section li {
  padding-left: 20px;
  text-indent: -20px;
}
#cool-thing a {
  color: #333;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
#cool-thing a:focus,
#cool-thing a:hover {
  color: #666;
}
.footer {
  margin: 40px 20px 20px;
  font: 14px/20px "Cubano", sans-serif;
  text-align: center;
}
.smaller {
  color: #bebec0;
  font-size: 10px;
}
.smaller a {
  color: #bebec0;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.smaller a:focus,
.smaller a:hover {
  color: #ceced0;
}
.drf {
  color: #713ade;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.drf:focus,
.drf:hover {
  color: #956be6;
}
.sbc {
  color: #5bb3fb;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.sbc:focus,
.sbc:hover {
  color: #84c6fc;
}
.facebook {
  color: #3b5998;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.facebook:focus,
.facebook:hover {
  color: #5d7dc0;
}
.github {
  color: #333;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.github:focus,
.github:hover {
  color: #666;
}
.twitter {
  color: #5bb3fb;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.twitter:focus,
.twitter:hover {
  color: #84c6fc;
}
.linkedin {
  color: #3b5998;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.linkedin:focus,
.linkedin:hover {
  color: #5d7dc0;
}
.resume {
  color: #333;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.resume:focus,
.resume:hover {
  color: #666;
}
.shamer {
  color: #ee3724;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.shamer:focus,
.shamer:hover {
  color: #f2695b;
}
.vc {
  color: #f508ff;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.vc:focus,
.vc:hover {
  color: #f746ff;
}
.drfbot {
  color: #713ade;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.drfbot:focus,
.drfbot:hover {
  color: #956be6;
}
.square {
  color: #333;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.square:focus,
.square:hover {
  color: #666;
}
.js {
  color: #5bb3fb;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.js:focus,
.js:hover {
  color: #84c6fc;
}
.foxtrot {
  color: #ee3724;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.foxtrot:focus,
.foxtrot:hover {
  color: #f2695b;
}
.loc {
  color: #de6e3a;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.loc:focus,
.loc:hover {
  color: #e6926b;
}
.sos {
  color: #713ade;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
}
.sos:focus,
.sos:hover {
  color: #956be6;
}
@media (max-width: 1279px) {
  .container {
    width: auto;
    padding: 0;
  }
}
@media (max-width: 959px) {
  body {
    font: 28px/30px "Cubano", sans-serif;
  }
  .logo {
    margin: 40px 0 20px 50%;
  }
  h1 .first-name,
  h1 .last-name {
    width: 50%;
  }
  main {
    padding: 0 20px;
  }
  section {
    margin-bottom: 30px;
  }
  section h2 {
    margin-bottom: 15px;
    text-align: left;
  }
  section h2,
  section p,
  section ul {
    float: none;
    width: auto;
  }
  section li {
    margin-bottom: 15px;
  }
  .footer {
    font: 12px/15px "Cubano", sans-serif;
  }
}

#cool-thing-wrapper {
  width: 90%;
}
